/*.listBlock ul li a:active {}.listBlock ul li a:hover {}.listBlock ul li a:focus {}.listBlock ul li a:visited {}.listBlock ul li a:link {}*/

.listBlock ul li:hover {
    box-shadow: 10px 10px 25px 0px rgba(100, 100, 100, 0.8);
}

.listBlock ul li a {
    display: inline-block;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;

    color: black;
    outline: none;
    text-decoration: none;
}

.listBlock ul li {
    padding: 0;
}
