body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*input:valid {*/
/*  background-color: coral;*/
/*  border: black 50px;*/
/*}*/
/**/
/*input:invalid {*/
/*  background-color: aquamarine;*/
/*  border: black 50px;*/
/*}*/