.deleteHoover {
  .listBlock li {
    position: relative;
  }

  .listBlock li::before {
    box-sizing: border-box;
    content: "удалить";
    cursor: pointer;
    background: red;

    /* border: black 5px solid; */
    border-radius: 15px;
    padding: 0.1em;
    display: inline;
    margin-right: 0.25em;

    /* margin-left: 0.5em; */

    /* display: block; */
  }
}
